name: Build and test Cargo Image Runner

on:
  push:
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build_and_test:
    name: Rust project - latest
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - nightly
          - stable
          - beta
    steps:
      - uses: actions/checkout@v4
      - run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - run: cargo build -p cargo-image-runner --verbose
      - run: cargo test -p cargo-image-runner --verbose

  feature_combinations:
    name: Feature combinations
    runs-on: ubuntu-latest
    strategy:
      matrix:
        features:
          - "uefi,limine,iso,qemu"
          - "bios,limine,iso,qemu"
          - "uefi,bios,qemu"
          - "uefi,fat,qemu"
          - "uefi,qemu"
          - ""
    steps:
      - uses: actions/checkout@v4
      - run: rustup update stable && rustup default stable
      - run: cargo build -p cargo-image-runner --no-default-features --features "${{ matrix.features }}" --verbose
      - run: cargo test -p cargo-image-runner --no-default-features --features "${{ matrix.features }}" --verbose
